.lista {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.lista h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

.lista ul {
  list-style-type: none;
  padding: 0;
}

.lista li {
  margin-bottom: 10px;
}

.lista li::before {
  content: '•';
  margin-right: 5px;
  color: #007bff;
}
