.produtos-salvos {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;;
  margin: 20px;
  padding: 20px;
  
  border-radius: 10px;
  background-color:white;
}

.produtos-salvos h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}


.product-list {
  list-style-type: none;
  padding: 5px;
  font-size: 115%;
  
  
}

.product-item {
  
  padding: 10px;
  border-bottom: 3px solid #333333;
  margin-top: 25px;
  display: flex;
  align-items: center;
}



.ingredient-list {
  list-style-type: none;
  padding: 0;
  margin-left: 20px;
}

.ingredient-item {
  margin-bottom: 5px;
}

.download-btn, .delete-btn {
  display: inline-block;
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.download-btn:hover, .delete-btn:hover {
  background-color: #0056b3;
}

.delete-btn {
  background-color: #dc3545;
}

.delete-btn:hover {
  background-color: #c71b2c;
}
