.produtos-salvos {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h2 {
  color: #4A90E2;
  text-align: center;
}

.pdf-content {
  background-color: aliceblue;
  padding: 20px;
  border-radius: 10px;
  
}

.product-list {
  list-style-type: none;
  padding: 0;
}

.product-item {
  background: #dad5d5;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 8px;
  
}

.ingredient-list {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}



.download-btn {
  background-color: #4A90E2;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 20px auto;
}

.download-btn:hover {
  background-color: #357ABD;
}
