.produtos-salvos {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;;
  margin: 20px;
  padding: 20px;
  
  border-radius: 10px;
  background-color: white;
  
  background-size: contain; /* Ajusta a imagem para cobrir todo o fundo */
  background-repeat: no-repeat; /* Evita que a imagem se repita */
  background-position: center; /* Centraliza a imagem de fundo */
  padding: 20px; /* Adiciona um pouco de padding para a aparência */
  
  
}

.produtos-salvos h2 {
  text-align: center;
  
  
}


.product-list {
  list-style-type: none;
  padding: 5px;
  background-color: white;
  
  
}

.product-item {
  
  
  border-bottom: 3px solid #333333;
  
  display: flex;
  align-items: center;
  
  
  
  margin-left:10px;
}



.ingredient-list {
  
  list-style-type: none;
  padding: 15px;
  margin-left:120px;
  border-left: 3px solid #333333;
  
}

.ingredient-item {
  margin-bottom: 5px;
  margin-left:70px;
  
  
}

.download-btn, .delete-btn {
  display: inline-block;
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  color: rgb(238, 227, 227);
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}

.download-btn:hover, .delete-btn:hover {
  background-color: #0056b3;
  
}

.delete-btn {
  background-color: #dc3545;
}

.delete-btn:hover {
  background-color: #c71b2c;
}
